<!doctype html>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<input id="search"><button onclick="getrecipe(document.getElementById('search').value)">Search</button>
<div id="output"></div>
<a href="" id="sourceLink"></a>
<script>
  function getsource(id){
    $.ajax({
      url:"https://api.spoonacular.com/recipes/"+id+"/information?apiKey="0add54d79c1a4ae7a710109472928679",
      success: function(res){
        document.getElementById("sourceLink").innerHTML=res.sourceUrl
        document.getElementById("sourceLink").href=res.sourceUrl
      }
  });
}
function getrecipe(q){
  $.ajax({
    url:"https://api.spoonacular.com/recipes/search?apiKey="0add54d79c1a4ae7a710109472928679&number=1&query="+q,
    success: function(res){
      docuument.getElementById("output").innerHTML="<h1>">res.results[0].title+"</h1><br><img src='"+res.baseUri+res.results[0].image+"'width='400'/><br>ready in "+res.results[0].readyInMinutes+" minutes"
      getsource(res.results[0].id)
    }
  })
}
</script>
