// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
// padding for overall page
.team-grid {
  padding-top: 130px;
  color:#313437;
  background: #b9ecef;
  background-size: 100% 100%;
}
// text colour or head over
.team-grid p {
  color:#7d8285;
}

.team-grid h2 {
  font-weight:bold;
  margin-bottom:40px;
  padding-top:10px;
  color:inherit;
}

@media (max-width:767px) {
  .team-grid h2 {
    margin-bottom:25px;
    padding-top:25px;
    font-size:24px;
  }
}

.team-grid .intro {
  font-size:20px;
  max-width:500px;
  margin:0 auto;
}

.team-grid .intro p {
  margin-bottom:0;
}

.team-grid .blocks {
  padding:50px 0;
}

.team-grid .item {
  margin-bottom:30px;
}

.team-grid .item .box {
  text-align:center;
  background-repeat:no-repeat;
  background-size:cover;
  background-position:center;
  width: 280px;
  height:280px;
  position:relative;
  overflow:hidden;
}

.team-grid .item .cover {
  position:absolute;
  top:0;
  left:0;
  width:85%;
  height:100%;
  background-color:rgba(7,49,84,0.75);
  transition:opacity 0.10s ease-in;
  opacity:1; //opacity of box
  padding-top:100px;
  color:#ffffff;
  text-shadow:1px 1px 1px rgba(0,0,0,0.15);
}

.team-grid .item:hover .cover {
  opacity:5;
}

.team-grid .item .name {
  font-weight:bold;
  margin-top: 10px;
  margin-bottom:8px;
}

.team-grid .item .title {
  text-transform:uppercase;
  font-weight:bold;
  color:#ffffff;
  letter-spacing:2px;
  font-size:10px;
  margin-bottom:20px;
}
